@import "bootstrap/dist/css/bootstrap.min.css";

* {
    margin: 0;
    padding: 0;
}

.background {
    background: url(./assets/img/images/bg-blackjack.jpg) no-repeat center center / cover;
}

.reverse {
    transform: rotate(180deg);
}


